.mat-toolbar {
  margin-bottom: 16px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbartitle {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-bar,
.busca-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

table {
  width: 100%;
}


.filtro {
  flex: 1;
}

:host {
  display: block;
  padding: clamp(12px, 2vw, 24px);
}

.full-width-input {
  width: 100%;
  margin-bottom: 20px;
}

/* Estiliza os cartões:
   - largura máxima ocupa todo o espaço disponível
   - arredondamento dos cantos (9px) */
.card {
  max-width: 100%;
  /* margin-inline: auto; */
  /* centralizaria horizontalmente se ativado */
  border-radius: 18px;
}

::placeholder {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Área de ações (botões, etc.):
   - usa flexbox
   - adiciona espaçamento de 12px entre itens
   - alinha os itens à direita (flex-end)
   - adiciona padding superior de 8px */
.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  padding-top: 8px;
}

/* Botões com estilo flat (preenchidos):
   - cantos arredondados (12px)
   - espaçamento horizontal maior (18px) */
button[mat-fab] {
  border-radius: 12px;
  padding-inline: 18px;
}


button[mat-raised-button] {
  margin-left: auto;
  width: 120px;
  background-color: #3f51b5;
  color: white;
  border-radius: 24px;
}

button[mat-raised-button]:not(:last-child) {
  margin-right: 1rem;
  background-color: #303f9f;
}


.busca-input {
  flex: 1;
}



/* Responsividade: 
   - quando a tela for menor que 640px, a grid passa a ter apenas 1 coluna */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}