<form [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Nome do Sketchbook</mat-label>
    <input matInput formControlName="nome" />
    <mat-error [hidden]="form.get('nome')?.hasError('required') && form.get('nome')?.touched">
      O nome é obrigatório.
    </mat-error>
    <mat-error [hidden]="form.get('nome')?.hasError('minlength') && form.get('nome')?.touched">
      O nome deve ter pelo menos 3 caracteres.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Quantidade de Folhas</mat-label>
    <input matInput type="number" formControlName="quantidadeFolhas" maxlength="2" />
    <mat-error [hidden]="form.get('quantidadeFolhas')?.hasError('required') && form.get('quantidadeFolhas')?.touched">
      A quantidade de folhas é obrigatória.
    </mat-error>
    <mat-error [hidden]="form.get('quantidadeFolhas')?.hasError('min') && form.get('quantidadeFolhas')?.touched">
      A quantidade de folhas deve ser pelo menos 20.

    </mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button routerLink="/admin/sketchbooks">
      Cancelar
    </button>
    <button mat-raised-button [disabled]="!form.value.id" matButton="elevated" (click)="openDialog('4000ms', '2500ms')">
      Deletar
    </button>

    <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
      Salvar
    </button>
  </div>

</form>