<mat-toolbar class="toolbar-title" color="primary">
  Editar Bloco
</mat-toolbar>

<mat-card class="card">
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <div class="grid">
        <!-- quantidadeFolhas -->
        <mat-form-field appearance="outline">
          <mat-label>Quantidade de Folhas</mat-label>
          <input matInput type="number" formControlName="quantidadeFolhas" placeholder="Ex.: 50" />
          <mat-error
            [hidden]="!(form.get('quantidadeFolhas')?.hasError('required') && form.get('quantidadeFolhas')?.touched)">
            A quantidade de folhas é obrigatória.
          </mat-error>
          <mat-error
            [hidden]="!(form.get('quantidadeFolhas')?.hasError('min') && form.get('quantidadeFolhas')?.touched)">
            A quantidade de folhas deve ser pelo menos 1.
          </mat-error>
        </mat-form-field>

        <!-- Textura -->
        <mat-form-field appearance="outline">
          <mat-label>Textura</mat-label>
          <mat-select formControlName="idTextura" placeholder="Selecione uma textura">
            <mat-option [value]="null" disabled="false"> Nenhuma </mat-option>
            @for (t of texturas; track t.id) {
            <mat-option [value]="t.id">{{t.nome}} </mat-option>
            }
          </mat-select>
          <mat-error [hidden]="!(form.get('idTextura')?.hasError('required') && form.get('idTextura')?.touched)">
            A textura é obrigatória.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="actions">
        <button mat-raised-button routerLink="/admin/blocos">
          Cancelar
        </button>
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
