<mat-toolbar class="toolbar-title" color="primary">
  Adicionar/Editar Papel Avulso
</mat-toolbar>

<mat-card class="card">
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <div class="grid">
        <!-- tipoPapel -->
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Papel</mat-label>
          <input matInput formControlName="tipoPapel" placeholder="Ex.: Couchê, Offset" />
          <mat-error
            [hidden]="!(form.get('tipoPapel')?.hasError('required') && form.get('tipoPapel')?.touched)">
            O tipo de papel é obrigatório.
          </mat-error>
          <mat-error
            [hidden]="!(form.get('tipoPapel')?.hasError('minlength') && form.get('tipoPapel')?.touched)">
            O tipo de papel deve ter pelo menos 2 caracteres.
          </mat-error>
        </mat-form-field>

        <!-- tamanho -->
        <mat-form-field appearance="outline">
          <mat-label>Tamanho</mat-label>
          <input matInput formControlName="tamanho" placeholder="Ex.: A4, A3, 30x30cm" />
          <mat-error
            [hidden]="!(form.get('tamanho')?.hasError('required') && form.get('tamanho')?.touched)">
            O tamanho é obrigatório.
          </mat-error>
        </mat-form-field>

        <!-- Textura -->
        <mat-form-field appearance="outline">
          <mat-label>Textura</mat-label>
          <mat-select formControlName="idTextura" placeholder="Selecione uma textura">
            <mat-option [value]="null" disabled="false"> Nenhuma </mat-option>
            @for (t of texturas; track t.id) {
            <mat-option [value]="t.id">{{t.nome}} </mat-option>
            }
          </mat-select>
          <mat-error [hidden]="!(form.get('idTextura')?.hasError('required') && form.get('idTextura')?.touched)">
            A textura é obrigatória.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="actions">
        <button mat-raised-button routerLink="/admin/papelavulsos">
          Cancelar
        </button>
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
