:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding-top: 80px;
}

main {
  flex: 1;
  padding: 20px;
}

.mat-toolbar {
  margin-bottom: 16px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar,
.busca-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.busca-input {
  flex: 1;
}

table {
  width: 100%;
}
